body {
  font-family: "inter";
  background-color: #fdfd96;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 300px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid rgb(66, 66, 66);
  border-radius: 10px;
}

input {
  font-family: "inter";
  width: 100%;
  outline: none;
  border: none;
  border-bottom: 1px solid rgb(66, 66, 66);
  background-color: inherit;
  font-size: 18px;
}

button {
  font-family: "inter";
  width: 100px;
  height: 30px;
  padding: 0;
  border: 1px solid rgb(66, 66, 66);
  border-radius: 10px;
  background: none;
}

button:hover {
  background-color: rgb(66, 66, 66);
  color: white;
}

.key {
  font-size: 13px;
  margin-bottom: 5px;
  color: rgb(66, 66, 66);
}

#loginLink {
  font-size: 13px;
}

.radio-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.width-spacer {
  width: 50px;
}

label {
  font-size: 15px;
}

.instructions {
  font-size: 12px;
  width: 93%;
  overflow: hidden;
}
